html,body {
  /* font-size:1px; */
  /* line-height:1px; */
  margin:0px;
  padding:0px;
  width:100%;
}

*[id^="bID_"],
.block{
	margin:0px;
	padding:0px;
	display:block;
	width:16px;
	height:16px;
	background-color:#cccccc;
	text-align:center;
	position:absolute;
}
*[id^="bID_"] p,
.block p{
	font-size:12px;
	line-height:12px;
}
.selektiert,
.ui-selected,
.ui-selecting{
	/* box-shadow: none|h-shadow v-shadow blur spread color |inset|initial|inherit; */
	box-shadow:0px 0px 2px 2px rgba(0,0,0,.5) inset;
	z-index:70;
	/* cursor:move; */
}
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

.ui-selectable-helper{
	border:1px dotted #000;
	position:absolute;
	z-index:100;
}

div[data-ddiv_layer]{
	width:0;
	height:0;
	background-color:transparent;
}
.ausgeblendet{
	visibility:none;
}
.ddiv_invisible{display:none;}

main{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
}
.grid{
	width:100%;
	height:100%;
	background-color:#ddd;
	background-image:
		linear-gradient(#efefef 2px, transparent 2px),
		linear-gradient(90deg, #efefef 2px, transparent 2px),
		linear-gradient(#efefef 1px, transparent 1px),
		linear-gradient(90deg, #efefef 1px, transparent 1px)
	;
	background-size:
		100px 100px,
		100px 100px,
		20px 20px,
		20px 20px
	;
	background-position:
		-1px -1px,
		-1px -1px,
		0px 0px,
		0px 0px
	;
}

#ddiv_sidebar{/* 
	position:fixed !important;
	top:0 !important; */
	position:fixed;
	top:0;
	right:0;
	/* float:left; */
	border:1px solid #ddd;
	/* border-radius:5px; */
	font-size:16px;
	line-height:16px;
	background-color:rgba(255,255,255,.9);
	z-index:80;
	width:250px;
	height:100%;
	padding:10px;
	margin-bottom:200px;
	overflow:scroll;
}
#ddiv_form {
	width:100%;
}
#ddiv_form fieldset{
	margin:10px 0px;
	padding:10px 3px;
	border-radius:5px;
	border:1px solid #ccc;
}
#ddiv_form fieldset legend{
	padding:0px 5px;
}
#ddiv_form label{
	display:block;
	margin-bottom:5px;
	/* padding-right:5px; */
	float:left;
	clear:left;
	width:50%;
	text-align:right;
}
#ddiv_form input,
#ddiv_form select{
	display:block;
	margin-bottom:5px;
	float:right;
	clear:right;
	width:45%;
	text-align:left;
}
/* #ddiv_form input[type=number]{
	width:50px;
} */
#ddiv_form input[disabled=disabled],
#ddiv_form input[disabled=disabled] + label{
display:none;
}
#ddiv_form button{
	display:block;
	clear:both;
	width:90%;
	margin:5px auto;
	background-color:#efefef;
	border-radius:5px;
	border:1px solid #ddd; 
}
#ddiv_form button:hover,
#ddiv_form button:focus{
	background-color:#ccc;
}
#ddiv_form button:active{
	background:rgb(0,128,128);
	color:#fefefe;
}
#form_elem option[value=span]{background-color:#67E46F}/* grün */
#form_elem option[value=div]{background-color:#5DC8CD}/* türkis */
#form_elem option[value=a]{background-color:#123EAB}/* dunkelblau */
#form_elem option[value=img]{background-color:#FFB473}/* orange */
#form_elem option[value=table]{background-color:#FF0700}/* rot */
#form_elem option[value=p]{background-color:#888}/* grau */
#form_elem option[value=ul]{background-color:#4671D5}/* mittel-dunkelblau */

#ddiv_form p{
	clear:both;
}

#ddiv_log{
	width: 230px;
	height: 100px;
	margin: 0;
	padding-bottom: 1em;
	font-size: .9em;
	line-height: 1.3em;
	white-space: pre-wrap;
	color: #9c5a11;
	overflow: auto;
}

div[data-ddiv_layer="1"] *{z-index:1;} div[data-ddiv_layer="2"] *{z-index:2;} div[data-ddiv_layer="3"] *{z-index:3;} div[data-ddiv_layer="4"] *{z-index:4;} div[data-ddiv_layer="5"] *{z-index:5;} div[data-ddiv_layer="6"] *{z-index:6;} div[data-ddiv_layer="7"] *{z-index:7;} div[data-ddiv_layer="8"] *{z-index:8;} div[data-ddiv_layer="9"] *{z-index:9;} div[data-ddiv_layer="10"] *{z-index:10;} div[data-ddiv_layer="11"] *{z-index:11;} div[data-ddiv_layer="12"] *{z-index:12;} div[data-ddiv_layer="13"] *{z-index:13;} div[data-ddiv_layer="14"] *{z-index:14;} div[data-ddiv_layer="15"] *{z-index:15;} div[data-ddiv_layer="16"] *{z-index:16;} div[data-ddiv_layer="17"] *{z-index:17;} div[data-ddiv_layer="18"] *{z-index:18;} div[data-ddiv_layer="19"] *{z-index:19;} div[data-ddiv_layer="20"] *{z-index:20;} div[data-ddiv_layer="21"] *{z-index:21;} div[data-ddiv_layer="22"] *{z-index:22;} div[data-ddiv_layer="23"] *{z-index:23;} div[data-ddiv_layer="24"] *{z-index:24;} div[data-ddiv_layer="25"] *{z-index:25;} div[data-ddiv_layer="26"] *{z-index:26;} div[data-ddiv_layer="27"] *{z-index:27;} div[data-ddiv_layer="28"] *{z-index:28;} div[data-ddiv_layer="29"] *{z-index:29;} div[data-ddiv_layer="30"] *{z-index:30;} div[data-ddiv_layer="31"] *{z-index:31;} div[data-ddiv_layer="32"] *{z-index:32;} div[data-ddiv_layer="33"] *{z-index:33;} div[data-ddiv_layer="34"] *{z-index:34;} div[data-ddiv_layer="35"] *{z-index:35;} div[data-ddiv_layer="36"] *{z-index:36;} div[data-ddiv_layer="37"] *{z-index:37;} div[data-ddiv_layer="38"] *{z-index:38;} div[data-ddiv_layer="39"] *{z-index:39;} div[data-ddiv_layer="40"] *{z-index:40;} div[data-ddiv_layer="41"] *{z-index:41;} div[data-ddiv_layer="42"] *{z-index:42;} div[data-ddiv_layer="43"] *{z-index:43;} div[data-ddiv_layer="44"] *{z-index:44;} div[data-ddiv_layer="45"] *{z-index:45;} div[data-ddiv_layer="46"] *{z-index:46;} div[data-ddiv_layer="47"] *{z-index:47;} div[data-ddiv_layer="48"] *{z-index:48;} div[data-ddiv_layer="49"] *{z-index:49;} div[data-ddiv_layer="50"] *{z-index:50;} div[data-ddiv_layer="51"] *{z-index:51;} div[data-ddiv_layer="52"] *{z-index:52;} div[data-ddiv_layer="53"] *{z-index:53;} div[data-ddiv_layer="54"] *{z-index:54;} div[data-ddiv_layer="55"] *{z-index:55;} div[data-ddiv_layer="56"] *{z-index:56;} div[data-ddiv_layer="57"] *{z-index:57;} div[data-ddiv_layer="58"] *{z-index:58;} div[data-ddiv_layer="59"] *{z-index:59;} div[data-ddiv_layer="60"] *{z-index:60;} div[data-ddiv_layer="61"] *{z-index:61;} div[data-ddiv_layer="62"] *{z-index:62;} div[data-ddiv_layer="63"] *{z-index:63;} div[data-ddiv_layer="64"] *{z-index:64;} div[data-ddiv_layer="65"] *{z-index:65;} div[data-ddiv_layer="66"] *{z-index:66;} div[data-ddiv_layer="67"] *{z-index:67;} div[data-ddiv_layer="68"] *{z-index:68;} div[data-ddiv_layer="69"] *{z-index:69;} div[data-ddiv_layer="70"] *{z-index:70;} div[data-ddiv_layer="71"] *{z-index:71;} div[data-ddiv_layer="72"] *{z-index:72;} div[data-ddiv_layer="73"] *{z-index:73;} div[data-ddiv_layer="74"] *{z-index:74;} div[data-ddiv_layer="75"] *{z-index:75;} div[data-ddiv_layer="76"] *{z-index:76;} div[data-ddiv_layer="77"] *{z-index:77;} div[data-ddiv_layer="78"] *{z-index:78;} div[data-ddiv_layer="79"] *{z-index:79;} div[data-ddiv_layer="80"] *{z-index:80;} div[data-ddiv_layer="81"] *{z-index:81;} div[data-ddiv_layer="82"] *{z-index:82;} div[data-ddiv_layer="83"] *{z-index:83;} div[data-ddiv_layer="84"] *{z-index:84;} div[data-ddiv_layer="85"] *{z-index:85;} div[data-ddiv_layer="86"] *{z-index:86;} div[data-ddiv_layer="87"] *{z-index:87;} div[data-ddiv_layer="88"] *{z-index:88;} div[data-ddiv_layer="89"] *{z-index:89;} div[data-ddiv_layer="90"] *{z-index:90;} div[data-ddiv_layer="91"] *{z-index:91;} div[data-ddiv_layer="92"] *{z-index:92;} div[data-ddiv_layer="93"] *{z-index:93;} div[data-ddiv_layer="94"] *{z-index:94;} div[data-ddiv_layer="95"] *{z-index:95;} div[data-ddiv_layer="96"] *{z-index:96;} div[data-ddiv_layer="97"] *{z-index:97;} div[data-ddiv_layer="98"] *{z-index:98;} div[data-ddiv_layer="99"] *{z-index:99;} div[data-ddiv_layer="100"] *{z-index:100;} div[data-ddiv_layer="101"] *{z-index:101;} div[data-ddiv_layer="102"] *{z-index:102;} div[data-ddiv_layer="103"] *{z-index:103;} div[data-ddiv_layer="104"] *{z-index:104;} div[data-ddiv_layer="105"] *{z-index:105;} div[data-ddiv_layer="106"] *{z-index:106;} div[data-ddiv_layer="107"] *{z-index:107;} div[data-ddiv_layer="108"] *{z-index:108;} div[data-ddiv_layer="109"] *{z-index:109;} div[data-ddiv_layer="110"] *{z-index:110;} div[data-ddiv_layer="111"] *{z-index:111;} div[data-ddiv_layer="112"] *{z-index:112;} div[data-ddiv_layer="113"] *{z-index:113;} div[data-ddiv_layer="114"] *{z-index:114;} div[data-ddiv_layer="115"] *{z-index:115;} div[data-ddiv_layer="116"] *{z-index:116;} div[data-ddiv_layer="117"] *{z-index:117;} div[data-ddiv_layer="118"] *{z-index:118;} div[data-ddiv_layer="119"] *{z-index:119;} div[data-ddiv_layer="120"] *{z-index:120;} div[data-ddiv_layer="121"] *{z-index:121;} div[data-ddiv_layer="122"] *{z-index:122;} div[data-ddiv_layer="123"] *{z-index:123;} div[data-ddiv_layer="124"] *{z-index:124;} div[data-ddiv_layer="125"] *{z-index:125;} div[data-ddiv_layer="126"] *{z-index:126;} div[data-ddiv_layer="127"] *{z-index:127;} div[data-ddiv_layer="128"] *{z-index:128;} div[data-ddiv_layer="129"] *{z-index:129;} div[data-ddiv_layer="130"] *{z-index:130;} div[data-ddiv_layer="131"] *{z-index:131;} div[data-ddiv_layer="132"] *{z-index:132;} div[data-ddiv_layer="133"] *{z-index:133;} div[data-ddiv_layer="134"] *{z-index:134;} div[data-ddiv_layer="135"] *{z-index:135;} div[data-ddiv_layer="136"] *{z-index:136;} div[data-ddiv_layer="137"] *{z-index:137;} div[data-ddiv_layer="138"] *{z-index:138;} div[data-ddiv_layer="139"] *{z-index:139;} div[data-ddiv_layer="140"] *{z-index:140;} div[data-ddiv_layer="141"] *{z-index:141;} div[data-ddiv_layer="142"] *{z-index:142;} div[data-ddiv_layer="143"] *{z-index:143;} div[data-ddiv_layer="144"] *{z-index:144;} div[data-ddiv_layer="145"] *{z-index:145;} div[data-ddiv_layer="146"] *{z-index:146;} div[data-ddiv_layer="147"] *{z-index:147;} div[data-ddiv_layer="148"] *{z-index:148;} div[data-ddiv_layer="149"] *{z-index:149;} div[data-ddiv_layer="150"] *{z-index:150;} div[data-ddiv_layer="151"] *{z-index:151;} div[data-ddiv_layer="152"] *{z-index:152;} div[data-ddiv_layer="153"] *{z-index:153;} div[data-ddiv_layer="154"] *{z-index:154;} div[data-ddiv_layer="155"] *{z-index:155;} div[data-ddiv_layer="156"] *{z-index:156;} div[data-ddiv_layer="157"] *{z-index:157;} div[data-ddiv_layer="158"] *{z-index:158;} div[data-ddiv_layer="159"] *{z-index:159;} div[data-ddiv_layer="160"] *{z-index:160;} div[data-ddiv_layer="161"] *{z-index:161;} div[data-ddiv_layer="162"] *{z-index:162;} div[data-ddiv_layer="163"] *{z-index:163;} div[data-ddiv_layer="164"] *{z-index:164;} div[data-ddiv_layer="165"] *{z-index:165;} div[data-ddiv_layer="166"] *{z-index:166;} div[data-ddiv_layer="167"] *{z-index:167;} div[data-ddiv_layer="168"] *{z-index:168;} div[data-ddiv_layer="169"] *{z-index:169;} div[data-ddiv_layer="170"] *{z-index:170;} div[data-ddiv_layer="171"] *{z-index:171;} div[data-ddiv_layer="172"] *{z-index:172;} div[data-ddiv_layer="173"] *{z-index:173;} div[data-ddiv_layer="174"] *{z-index:174;} div[data-ddiv_layer="175"] *{z-index:175;} div[data-ddiv_layer="176"] *{z-index:176;} div[data-ddiv_layer="177"] *{z-index:177;} div[data-ddiv_layer="178"] *{z-index:178;} div[data-ddiv_layer="179"] *{z-index:179;} div[data-ddiv_layer="180"] *{z-index:180;} div[data-ddiv_layer="181"] *{z-index:181;} div[data-ddiv_layer="182"] *{z-index:182;} div[data-ddiv_layer="183"] *{z-index:183;} div[data-ddiv_layer="184"] *{z-index:184;} div[data-ddiv_layer="185"] *{z-index:185;} div[data-ddiv_layer="186"] *{z-index:186;} div[data-ddiv_layer="187"] *{z-index:187;} div[data-ddiv_layer="188"] *{z-index:188;} div[data-ddiv_layer="189"] *{z-index:189;} div[data-ddiv_layer="190"] *{z-index:190;} div[data-ddiv_layer="191"] *{z-index:191;} div[data-ddiv_layer="192"] *{z-index:192;} div[data-ddiv_layer="193"] *{z-index:193;} div[data-ddiv_layer="194"] *{z-index:194;} div[data-ddiv_layer="195"] *{z-index:195;} div[data-ddiv_layer="196"] *{z-index:196;} div[data-ddiv_layer="197"] *{z-index:197;} div[data-ddiv_layer="198"] *{z-index:198;} div[data-ddiv_layer="199"] *{z-index:199;} div[data-ddiv_layer="200"] *{z-index:200;} div[data-ddiv_layer="201"] *{z-index:201;} div[data-ddiv_layer="202"] *{z-index:202;} div[data-ddiv_layer="203"] *{z-index:203;} div[data-ddiv_layer="204"] *{z-index:204;} div[data-ddiv_layer="205"] *{z-index:205;} div[data-ddiv_layer="206"] *{z-index:206;} div[data-ddiv_layer="207"] *{z-index:207;} div[data-ddiv_layer="208"] *{z-index:208;} div[data-ddiv_layer="209"] *{z-index:209;} div[data-ddiv_layer="210"] *{z-index:210;} div[data-ddiv_layer="211"] *{z-index:211;} div[data-ddiv_layer="212"] *{z-index:212;} div[data-ddiv_layer="213"] *{z-index:213;} div[data-ddiv_layer="214"] *{z-index:214;} div[data-ddiv_layer="215"] *{z-index:215;} div[data-ddiv_layer="216"] *{z-index:216;} div[data-ddiv_layer="217"] *{z-index:217;} div[data-ddiv_layer="218"] *{z-index:218;} div[data-ddiv_layer="219"] *{z-index:219;} div[data-ddiv_layer="220"] *{z-index:220;} div[data-ddiv_layer="221"] *{z-index:221;} div[data-ddiv_layer="222"] *{z-index:222;} div[data-ddiv_layer="223"] *{z-index:223;} div[data-ddiv_layer="224"] *{z-index:224;} div[data-ddiv_layer="225"] *{z-index:225;} div[data-ddiv_layer="226"] *{z-index:226;} div[data-ddiv_layer="227"] *{z-index:227;} div[data-ddiv_layer="228"] *{z-index:228;} div[data-ddiv_layer="229"] *{z-index:229;} div[data-ddiv_layer="230"] *{z-index:230;} div[data-ddiv_layer="231"] *{z-index:231;} div[data-ddiv_layer="232"] *{z-index:232;} div[data-ddiv_layer="233"] *{z-index:233;} div[data-ddiv_layer="234"] *{z-index:234;} div[data-ddiv_layer="235"] *{z-index:235;} div[data-ddiv_layer="236"] *{z-index:236;} div[data-ddiv_layer="237"] *{z-index:237;} div[data-ddiv_layer="238"] *{z-index:238;} div[data-ddiv_layer="239"] *{z-index:239;} div[data-ddiv_layer="240"] *{z-index:240;} div[data-ddiv_layer="241"] *{z-index:241;} div[data-ddiv_layer="242"] *{z-index:242;} div[data-ddiv_layer="243"] *{z-index:243;} div[data-ddiv_layer="244"] *{z-index:244;} div[data-ddiv_layer="245"] *{z-index:245;} div[data-ddiv_layer="246"] *{z-index:246;} div[data-ddiv_layer="247"] *{z-index:247;} div[data-ddiv_layer="248"] *{z-index:248;} div[data-ddiv_layer="249"] *{z-index:249;} div[data-ddiv_layer="250"] *{z-index:250;} div[data-ddiv_layer="251"] *{z-index:251;} div[data-ddiv_layer="252"] *{z-index:252;} div[data-ddiv_layer="253"] *{z-index:253;} div[data-ddiv_layer="254"] *{z-index:254;} div[data-ddiv_layer="255"] *{z-index:255;} div[data-ddiv_layer="256"] *{z-index:256;} div[data-ddiv_layer="257"] *{z-index:257;} div[data-ddiv_layer="258"] *{z-index:258;} div[data-ddiv_layer="259"] *{z-index:259;} div[data-ddiv_layer="260"] *{z-index:260;} div[data-ddiv_layer="261"] *{z-index:261;} div[data-ddiv_layer="262"] *{z-index:262;} div[data-ddiv_layer="263"] *{z-index:263;} div[data-ddiv_layer="264"] *{z-index:264;} div[data-ddiv_layer="265"] *{z-index:265;} div[data-ddiv_layer="266"] *{z-index:266;} div[data-ddiv_layer="267"] *{z-index:267;} div[data-ddiv_layer="268"] *{z-index:268;} div[data-ddiv_layer="269"] *{z-index:269;} div[data-ddiv_layer="270"] *{z-index:270;} div[data-ddiv_layer="271"] *{z-index:271;} div[data-ddiv_layer="272"] *{z-index:272;} div[data-ddiv_layer="273"] *{z-index:273;} div[data-ddiv_layer="274"] *{z-index:274;} div[data-ddiv_layer="275"] *{z-index:275;} div[data-ddiv_layer="276"] *{z-index:276;} div[data-ddiv_layer="277"] *{z-index:277;} div[data-ddiv_layer="278"] *{z-index:278;} div[data-ddiv_layer="279"] *{z-index:279;} div[data-ddiv_layer="280"] *{z-index:280;} div[data-ddiv_layer="281"] *{z-index:281;} div[data-ddiv_layer="282"] *{z-index:282;} div[data-ddiv_layer="283"] *{z-index:283;} div[data-ddiv_layer="284"] *{z-index:284;} div[data-ddiv_layer="285"] *{z-index:285;} div[data-ddiv_layer="286"] *{z-index:286;} div[data-ddiv_layer="287"] *{z-index:287;} div[data-ddiv_layer="288"] *{z-index:288;} div[data-ddiv_layer="289"] *{z-index:289;} div[data-ddiv_layer="290"] *{z-index:290;} div[data-ddiv_layer="291"] *{z-index:291;} div[data-ddiv_layer="292"] *{z-index:292;} div[data-ddiv_layer="293"] *{z-index:293;} div[data-ddiv_layer="294"] *{z-index:294;} div[data-ddiv_layer="295"] *{z-index:295;} div[data-ddiv_layer="296"] *{z-index:296;} div[data-ddiv_layer="297"] *{z-index:297;} div[data-ddiv_layer="298"] *{z-index:298;} div[data-ddiv_layer="299"] *{z-index:299;} div[data-ddiv_layer="300"] *{z-index:300;} div[data-ddiv_layer="301"] *{z-index:301;} div[data-ddiv_layer="302"] *{z-index:302;} div[data-ddiv_layer="303"] *{z-index:303;} div[data-ddiv_layer="304"] *{z-index:304;} div[data-ddiv_layer="305"] *{z-index:305;} div[data-ddiv_layer="306"] *{z-index:306;} div[data-ddiv_layer="307"] *{z-index:307;} div[data-ddiv_layer="308"] *{z-index:308;} div[data-ddiv_layer="309"] *{z-index:309;} div[data-ddiv_layer="310"] *{z-index:310;} div[data-ddiv_layer="311"] *{z-index:311;} div[data-ddiv_layer="312"] *{z-index:312;} div[data-ddiv_layer="313"] *{z-index:313;} div[data-ddiv_layer="314"] *{z-index:314;} div[data-ddiv_layer="315"] *{z-index:315;} div[data-ddiv_layer="316"] *{z-index:316;} div[data-ddiv_layer="317"] *{z-index:317;} div[data-ddiv_layer="318"] *{z-index:318;} div[data-ddiv_layer="319"] *{z-index:319;} div[data-ddiv_layer="320"] *{z-index:320;} div[data-ddiv_layer="321"] *{z-index:321;} div[data-ddiv_layer="322"] *{z-index:322;} div[data-ddiv_layer="323"] *{z-index:323;} div[data-ddiv_layer="324"] *{z-index:324;} div[data-ddiv_layer="325"] *{z-index:325;} div[data-ddiv_layer="326"] *{z-index:326;} div[data-ddiv_layer="327"] *{z-index:327;} div[data-ddiv_layer="328"] *{z-index:328;} div[data-ddiv_layer="329"] *{z-index:329;} div[data-ddiv_layer="330"] *{z-index:330;} div[data-ddiv_layer="331"] *{z-index:331;} div[data-ddiv_layer="332"] *{z-index:332;} div[data-ddiv_layer="333"] *{z-index:333;} div[data-ddiv_layer="334"] *{z-index:334;} div[data-ddiv_layer="335"] *{z-index:335;} div[data-ddiv_layer="336"] *{z-index:336;} div[data-ddiv_layer="337"] *{z-index:337;} div[data-ddiv_layer="338"] *{z-index:338;} div[data-ddiv_layer="339"] *{z-index:339;} div[data-ddiv_layer="340"] *{z-index:340;} div[data-ddiv_layer="341"] *{z-index:341;} div[data-ddiv_layer="342"] *{z-index:342;} div[data-ddiv_layer="343"] *{z-index:343;} div[data-ddiv_layer="344"] *{z-index:344;} div[data-ddiv_layer="345"] *{z-index:345;} div[data-ddiv_layer="346"] *{z-index:346;} div[data-ddiv_layer="347"] *{z-index:347;} div[data-ddiv_layer="348"] *{z-index:348;} div[data-ddiv_layer="349"] *{z-index:349;} div[data-ddiv_layer="350"] *{z-index:350;} div[data-ddiv_layer="351"] *{z-index:351;} div[data-ddiv_layer="352"] *{z-index:352;} div[data-ddiv_layer="353"] *{z-index:353;} div[data-ddiv_layer="354"] *{z-index:354;} div[data-ddiv_layer="355"] *{z-index:355;} div[data-ddiv_layer="356"] *{z-index:356;} div[data-ddiv_layer="357"] *{z-index:357;} div[data-ddiv_layer="358"] *{z-index:358;} div[data-ddiv_layer="359"] *{z-index:359;} div[data-ddiv_layer="360"] *{z-index:360;} div[data-ddiv_layer="361"] *{z-index:361;} div[data-ddiv_layer="362"] *{z-index:362;} div[data-ddiv_layer="363"] *{z-index:363;} div[data-ddiv_layer="364"] *{z-index:364;} div[data-ddiv_layer="365"] *{z-index:365;} div[data-ddiv_layer="366"] *{z-index:366;} div[data-ddiv_layer="367"] *{z-index:367;} div[data-ddiv_layer="368"] *{z-index:368;} div[data-ddiv_layer="369"] *{z-index:369;} div[data-ddiv_layer="370"] *{z-index:370;} div[data-ddiv_layer="371"] *{z-index:371;} div[data-ddiv_layer="372"] *{z-index:372;} div[data-ddiv_layer="373"] *{z-index:373;} div[data-ddiv_layer="374"] *{z-index:374;} div[data-ddiv_layer="375"] *{z-index:375;} div[data-ddiv_layer="376"] *{z-index:376;} div[data-ddiv_layer="377"] *{z-index:377;} div[data-ddiv_layer="378"] *{z-index:378;} div[data-ddiv_layer="379"] *{z-index:379;} div[data-ddiv_layer="380"] *{z-index:380;} div[data-ddiv_layer="381"] *{z-index:381;} div[data-ddiv_layer="382"] *{z-index:382;} div[data-ddiv_layer="383"] *{z-index:383;} div[data-ddiv_layer="384"] *{z-index:384;} div[data-ddiv_layer="385"] *{z-index:385;} div[data-ddiv_layer="386"] *{z-index:386;} div[data-ddiv_layer="387"] *{z-index:387;} div[data-ddiv_layer="388"] *{z-index:388;} div[data-ddiv_layer="389"] *{z-index:389;} div[data-ddiv_layer="390"] *{z-index:390;} div[data-ddiv_layer="391"] *{z-index:391;} div[data-ddiv_layer="392"] *{z-index:392;} div[data-ddiv_layer="393"] *{z-index:393;} div[data-ddiv_layer="394"] *{z-index:394;} div[data-ddiv_layer="395"] *{z-index:395;} div[data-ddiv_layer="396"] *{z-index:396;} div[data-ddiv_layer="397"] *{z-index:397;} div[data-ddiv_layer="398"] *{z-index:398;} div[data-ddiv_layer="399"] *{z-index:399;} div[data-ddiv_layer="400"] *{z-index:400;} 